<div class="dsc-Body_CommentWrapper" data-channel="issue-comments" data-issue-id="<%= issue.id %>">
  <h3 class="dsc-Comment_Title">
    <%=t '.comments.title' %>
  </h3>
  <%= render_async issue_comments_url(issue), event_name: 'issue-comments-loaded', 'data-turbolinks-track': 'reload' do %>
    <%= loading_partial %>
  <% end -%>
  <div id="anchor-latest-comment"></div>
  <% unless issue.closed? -%>
    <%= render partial: 'issue/comments/form', locals: { form: form } %>
  <% end -%>
</div>
