<%= inline_edit_with 'js-issue-content-editor', open: open do |ie| %>
  <%= ie.primary do %>
    <div class="iss-Detail_ContentWrapper">
      <% if issue.content.blank?  -%>
        <p class="iss-Detail_Content iss-Detail_Content-blank">
          <%=t '.blank' %>
        </p>
      <% else -%>
        <div class="iss-Detail_Content" id="app_issue_content">
          <%= simple_format(issue.content) %>
        </div>
      <% end -%>
      <% unless issue.closed? -%>
        <%= ie.link_to_toggle t('navs.edit'), id: 'js-open-issue-content-editor', class: 'iss-Detail_EditLink' %>
      <% end -%>
    </div>
  <% end -%>
  <%= ie.form class: 'iss-Detail_ContentEdit' do -%>
    <%= render 'inline_edit_form', ie: ie, form: form do |f| %>
      <%= f.hidden_field :title %>
      <%= hidden_field_tag 'form[field]', :content %>
      <div class="form-group">
        <%= f.text_area :content, rows: 10, class: 'form-control' %>
      </div>
    <% end -%>
  <% end -%>
<% end -%>
