<%= inline_edit_with 'js-issue-title-editor' do |ie| -%>
  <%= ie.primary do %>
    <div class="iss-Detail_TitleWrapper">
      <h1 class="iss-Detail_Title" id="app_issue_title">
        <%= issue.title %>
      </h1>
      <%= ie.link_to_toggle t('navs.edit'), id: 'js-open-title-editor', class: 'iss-Detail_EditLink' %>
    </div>
  <% end -%>
  <%= ie.form class: 'sw-InlineEdit' do -%>
    <%= form_with model: issue, scope: :form, url: project_issue_path(current_project, issue), method: :patch, remote: true do |f| %>
      <div class="form-group">
        <%= f.text_field :title, class: 'form-control' %>
      </div>
      <div class="frm-Actions">
        <%= f.button t('helpers.submit.submit'), class: 'btn btn-success', data: loading_indicator %>
        <%= ie.link_to_toggle t('navs.cancel'), class: 'frm-Actions_Cancel' %>
      </div>
    <% end -%>
  <% end -%>
<% end -%>
