<%= inline_edit_with 'js-issue-title-editor', open: open do |ie| -%>
  <%= ie.primary do %>
    <div class="iss-Detail_TitleWrapper">
      <h1 class="iss-Detail_Title" id="app_issue_title">
        <%= issue.title %>
      </h1>
      <%= ie.link_to_toggle t('navs.edit'), id: 'js-open-issue-title-editor', class: 'iss-Detail_EditLink' %>
    </div>
  <% end -%>
  <%= ie.form class: 'iss-Detail_TitleEdit' do -%>
    <%= render 'inline_edit_form', ie: ie, form: form do |f| %>
      <%= hidden_field_tag 'form[field]', :title %>
      <div class="form-group">
        <%= f.text_field :title, class: 'form-control' %>
      </div>
    <% end -%>
  <% end -%>
<% end -%>
