<% breadcrumb :show_issue, current_project, @issue %>
<div class="row">
  <div class="col-sm-22 col-lg-19 mx-auto">
    <div class="dsc-Body">
      <div class="dsc-Body_Issue">
        <div class="iss-Detail">
          <div class="iss-Detail_Header">
            <%= show_user_avatar(@issue.author, size: :sm) %>
            <div class="iss-Detail_Creation">
              <%=t '.creation_html', author: @issue.author_name, date: l(@issue.created_at.to_date) %>
            </div>
            <div class="iss-Detail_Bookmark">
              <%= render partial: 'bookmark', locals: { issue: @issue } %>
            </div>
          </div>
          <div class="iss-Detail_Body">
            <%= render partial: 'title', locals: { issue: @issue, form: @form, open: false } %>
            <%= render partial: 'content', locals: { issue: @issue, form: @form, open: false } %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-22 col-lg-18 mx-auto">
          <div class="dsc-Body_CommentWrapper">
            <h3 class="dsc-Comment_Title">
              <%=t '.comments.title' %>
            </h3>
            <%= render_async issue_comments_url(@issue), event_name: 'issue-comments-loaded', 'data-turbolinks-track': 'reload' do %>
              <%= loading_partial %>
            <% end -%>
            <div id="anchor-latest-comment"></div>
            <%= render partial: 'issue/comments/form', locals: { form: @form } %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render 'terminate' %>
