<div class="cmt-Comment" id="<%= app_dom_id(comment) %>">
  <div class="cmt-Comment_Header">
    <%= show_user_avatar(comment.author, size: :lg) %>
  </div>
  <div class="cmt-Comment_Body">
    <div class="app_issue_comment_content cmt-Comment_Content">
      <%= simple_format(comment.content) %>
    </div>
    <div class="cmt-Comment_Info">
      <div class="cmt-Comment_Timestamp">
        <%=t '.creation_html', author: comment.author_name, time: l(comment.created_at) %>
      </div>
      <% unless current_issue.closed? -%>
        <%= render partial: 'actions', locals: { comment: comment } %>
      <% end -%>
    </div>
  </div>
</div>
