<div class="cmt-Comment" id="<%= app_dom_id(comment) %>">
  <div class="cmt-Comment_Header">
    <div class="usr-Avatar-lg">
      <%= comment.author_initials %>
    </div>
  </div>
  <div class="cmt-Comment_Body">
    <div class="app_issue_comment_content cmt-Comment_Content">
      <%= simple_format(comment.content) %>
    </div>
    <div class="cmt-Comment_Info">
      <div class="cmt-Comment_Timestamp">
        <%=t '.creation_html', author: comment.author_name, time: l(comment.created_at) %>
      </div>
      <div class="cmt-Comment_Actions">
        <ul class="sw-LinkList">
          <li>
          <%= link_to_if comment.author == current_user, t('navs.delete'), issue_comment_url(current_issue, comment), method: :delete, remote: true, class: 'sw-Link sw-Link-sub', data: { confirm: t('.confirm_delete') } %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
