<div class="container">
  <div class="row">
    <div class="col-sm-22 col-lg-18 mx-auto">
      <div class="prj-Header">
        <h1 class="prj-ProjectName">
          Gaiax Community
        </h1>
        <div class="prj-Header_Nav">
          <div class="breadcrumbs">
            <%= link_to 'ホーム', pages_url %>
            <%= link_to 'リクエスト', page_url(:request_list) %>
            <span class="current">リクエスト詳細</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-22 col-lg-18 mx-auto">
      <div class="dsc-Body">
        <div class="dsc-Body_Request">
          <div class="rq-Detail">
            <div class="rq-Detail_Header">
              <%= image_tag 'avatars/user_b.png', class: 'rq-Detail_CreatorAvator' %>
              <span class="rq-Detail_Creation">
                末吉 哉が2017.10.23に作成
              </span>
            </div>
            <div class="rq-Detail_ContentWrapper">
              <p class="rq-Detail_Content">
              セキュリティ管理者として<br>
              誰がいつメンバー情報にアクセスしたか知りたい<br>
              それは監査で必要だから
              </p>
              <%= link_to '編集する', '', class: 'rq-Detail_EditLink' %>
            </div>
            <hr class="rq-Detail_Divider">
            <div class="rq-Detail_CheckList">
              <h3 class="rq-Detail_CheckListTitle">
                チェックリスト
              </h3>
              <div class="rq-CheckList">
                <label class="rq-CheckPoint">
                  <input type="checkbox" class="rq-CheckPoint_Check">
                  <span class="rq-CheckPoint_Indicator"></span>
                  <span class="rq-CheckPoint_Content">
                    アクセスしたメンバーの名前が記録されていること
                  </span>
                </label>
                <label class="rq-CheckPoint">
                  <input type="checkbox" class="rq-CheckPoint_Check">
                  <span class="rq-CheckPoint_Indicator"></span>
                  <span class="rq-CheckPoint_Content">
                    アクセスした時間が記録されていること
                  </span>
                </label>
                <label class="rq-CheckPoint">
                  <input type="checkbox" class="rq-CheckPoint_Check">
                  <span class="rq-CheckPoint_Indicator"></span>
                  <span class="rq-CheckPoint_Content">
                    アクセスしたページが記録されていること
                  </span>
                </label>
                <form>
                  <div class="rq-NewCheckPoint">
                    <i class="rq-NewCheckPoint_Indicator"></i>
                    <input type="text" placeholder="チェック項目を入力" class="rq-NewCheckPoint_Input">
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-22 col-lg-18 mx-auto">
            <div class="dsc-Body_CommentWrapper">
              <h3 class="dsc-Comment_Title">
                コメント
              </h3>
              <div class="dsc-Comment_List">
                <div class="cmt-Comment">
                  <div class="cmt-Comment_Header">
                    <%= image_tag 'avatars/user_a.png', class: 'cmt-Comment_Avatar' %>
                  </div>
                  <div class="cmt-Comment_Body">
                    <p class="cmt-Comment_Content">
                      全てのページで記録が必要ですか？
                    </p>
                    <div class="cmt-Comment_Info">
                      <span class="cmt-Comment_Timestamp">
                        末吉 哉が3時間前に投稿
                      </span>
                      <div class="cmt-Comment_Actions">
                        <%= link_to '編集する', '', class: 'sw-Link' %>
                        <%= link_to '削除する', '', class: 'sw-Link' %>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="cmt-Comment">
                  <div class="cmt-Comment_Header">
                    <%= image_tag 'avatars/user_b.png', class: 'cmt-Comment_Avatar' %>
                  </div>
                  <div class="cmt-Comment_Body">
                    <p class="cmt-Comment_Content">
                      今の管理画面だと<br>
                      - ログイン<br>
                      - 一覧<br>
                      - 詳細<br>
                      - ダウンロード<br>
                      です
                    </p>
                    <div class="cmt-Comment_Info">
                      <span class="cmt-Comment_Timestamp">
                        末吉 哉が1時間前に投稿
                      </span>
                      <div class="cmt-Comment_Actions">
                        <%= link_to '編集する', '', class: 'sw-Link' %>
                        <%= link_to '削除する', '', class: 'sw-Link' %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="cmt-Form">
                <div class="cmt-Form_Header">
                  <%= image_tag 'avatars/user_c.png', class: 'cmt-Comment_Avatar' %>
                </div>
                <div class="cmt-Form_Form">
                  <form>
                    <div class="form-group">
                      <textarea rows="3" class="form-control"></textarea>
                    </div>
                    <button type="submit" class="btn btn-success">
                      投稿する
                    </button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="dsc-Footer">
          <%= link_to 'このリクエストを削除する', '', class: 'dsc-DeleteLink' %>
        </div>
      </div>
    </div>
  </div>
</div>
