<div class="container">
  <div class="row">
    <div class="col-sm-22 col-lg-18 mx-auto">
      <div class="prj-Header">
        <h1 class="prj-ProjectName">
          Gaiax Community
        </h1>
        <p class="prj-Description">
          GXのファンを育てる・増やす
        </p>
        <hr class="prj-TopNavDivider">
        <div class="prj-TopNav">
          <%= link_to '課題リスト', page_url(:issue_list), class: 'prj-TopNav_Link' %>
          <%= link_to 'メンバー管理', page_url(:manage_project_members), class: 'prj-TopNav_Link' %>
          <%= link_to '設定', page_url(:project_setting), class: 'prj-TopNav_Link' %>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-22 col-lg-18 mx-auto">
      <div class="prj-BookmarkedIssues">
        <h3 class="prj-BookmarkedIssues_Title">
          ブックマークした課題
        </h3>
        <div class="prj-BookmarkedIssues_Body">
          <% 3.times do %>
            <div class="issl-BookmarkedItem">
              <div class="issl-BookmarkedItem_Body">
                <%= link_to page_url(:issue_detail), class: 'issl-BookmarkedItem_Content' do %>
                  管理画面の操作ログ
                <% end -%>
                <%= link_to '', class: 'issl-BookmarkedItem_Bookmark' do %>
                  <i class="iss-Bookmark iss-Bookmark-on"></i>
                <% end -%>
              </div>
              <%= link_to '3コメント', '#', class: 'issl-BookmarkedItem_CommentCount' %>
              <span class="issl-BookmarkedItem_UpdatedAt">
                2時間前に更新
              </span>
            </div>
          <% end -%>
        </div>
      </div>
      <div class="prj-TimeLine">
        <h3 class="prj-TimeLine_Title">
          タイムライン
        </h3>
        <div class="prj-TimeLine_Body">
          <% [23,22,21].each do |d| %>
            <div class="tl-Day">
              <div class="tl-Day_Head">
                <div class="tl-Date">
                  <span class="tl-Date_Month">
                    10月
                  </span>
                  <div class="tl-Date_Day">
                    <span class="tl-Date_DayNumber">
                      <%= d %>
                    </span>
                    <span class="tl-Date_DayName">
                      水曜日
                    </span>
                  </div>
                </div>
              </div>
              <div class="tl-Day_Body">
                <% 5.times do %>
                  <% time = [('09'..'20').to_a.sample, ('00'..'59').to_a.sample].join(':') %>
                  <p class="tl-Item">
                    <%= image_tag 'avatars/user_a.png', class: 'tl-Item_Avatar' %>
                    末吉 哉が
                    <%= link_to '管理画面の操作ログ', page_url(:issue_detail), class: 'tl-Item_Link' %>
                    にコメントしました
                    <span class="tl-Item_Time">
                      <%= time %>
                    </span>
                  </p>
                <% end -%>
              </div>
            </div>
          <% end -%>
        </div>
      </div>
    </div>
  </div>
</div>
