<div class="container">
  <div class="row">
    <div class="col-sm-22 col-lg-18 mx-auto">
      <div class="prj-Header">
        <h1 class="prj-ProjectName">
          Gaiax Community
        </h1>
        <div class="prj-Header_Nav">
          <div class="breadcrumbs">
            <%= link_to 'ホーム', pages_url %>
            <span class="current">リクエスト</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-22 col-lg-18 mx-auto">
      <div class="rqls-Body">
        <div class="row">
          <div class="rqls-Nav_Add">
            <%= link_to 'リクエストを作成する', '', class: 'rqls-Add' %>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-22 col-lg-20 offset-lg-1">
            <div class="rqls-List">
              <div class="rqls-Item">
                <i class="rqls-Item_Handle"></i>
                <%= link_to page_url(:discuss_request), class: 'rqls-Item_Content' do %>
                セキュリティ管理者として<br>
                誰がいつメンバー情報にアクセスしたか知りたい<br>
                それは監査で必要だから
                <% end -%>
                <div class="rqls-Item_Tail">
                  <%= link_to '編集する', '#', class: 'sw-Link' %>
                  <span>&middot;</span>
                  <%= link_to '削除する', '#', class: 'sw-Link' %>
                </div>
              </div>
              <div class="rqls-Item">
                <i class="rqls-Item_Handle"></i>
                <%= link_to '', class: 'rqls-Item_Content' do %>
                管理者として<br>
                登録しているメンバーのメールアドレスをCSVでダウンロードしたい<br>
                それはメール配信をしたいから
                <% end -%>
                <div class="rqls-Item_Tail">
                  <%= link_to '編集する', '#', class: 'sw-Link' %>
                  <span>&middot;</span>
                  <%= link_to '削除する', '#', class: 'sw-Link' %>
                </div>
              </div>
              <% 10.times do %>
                <div class="rqls-Item">
                  <i class="rqls-Item_Handle"></i>
                  <%= link_to '', class: 'rqls-Item_Content' do %>
                  管理者として<br>
                  管理画面にログインしたい<br>
                  それは管理したいから
                  <% end -%>
                  <div class="rqls-Item_Tail">
                    <%= link_to '編集する', '#', class: 'sw-Link' %>
                    <span>&middot;</span>
                    <%= link_to '削除する', '#', class: 'sw-Link' %>
                  </div>
                </div>
              <% end -%>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
