<% breadcrumb :project_setting, current_project %>
<div class="row">
  <div class="col-sm-22 col-lg-16 mx-auto">
    <div class="prj-Setting">
      <div class="prj-Setting_Header">
        <h2 class="prj-Setting_Title">
          <%=t '.information.title' %>
        </h2>
      </div>
      <div class="prj-Setting_Body">
        <%= form_with model: @form, scope: :form, url: project_url(current_project), method: :patch, local: true do |f| %>
          <div class="form-group">
            <%= f.label :name, class: 'frm-Label' %>
            <%= f.text_field :name, id: 'app_project_name', class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :description, class: 'frm-Label' %>
            <%= f.text_field :description, id: 'app_project_description', class: 'form-control' %>
          </div>
          <%= f.button t('helpers.submit.submit'), class: 'btn btn-success' %>
        <% end -%>
      </div>
    </div>
    <div class="prj-Setting">
      <div class="prj-Setting_Header">
        <h2 class="prj-Setting_Title">
          <%=t '.delete.title' %>
        </h2>
      </div>
      <div class="prj-Setting_Body">
        <p class="prj-Delete_Description">
          <%=t '.delete.help' %>
        </p>
        <%= button_to t('navs.delete'), project_url(current_project), method: :delete, class: 'btn btn-danger', data: { confirm: t('.confirm_delete', name: current_project.name) } %>
      </div>
    </div>
  </div>
</div>
