<div class="container">
  <div class="row">
    <div class="col-sm-22 col-lg-18 mx-auto">
      <div class="prj-Header">
        <h1 class="prj-ProjectName" id="app_project_name">
          <%= @project.name %>
        </h1>
        <p class="prj-Description" id="app_project_description">
          <%= @project.description %>
        </p>
        <hr class="prj-TopNavDivider">
        <div class="prj-TopNav">
          <%= link_to t('.navs.issue_list'), project_issues_url(@project), class: 'prj-TopNav_Link' %>
          <%= link_to t('.navs.manage_members'), project_members_url(@project), class: 'prj-TopNav_Link' %>
          <%= link_to t('.navs.setting'), edit_project_url(@project), class: 'prj-TopNav_Link' %>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-22 col-lg-18 mx-auto">
      <%= render 'project/bookmarked_issues/index', project: @project %>
    </div>
  </div>
</div>
