<% cache [activity.user, activity] do -%>
  <div id="<%= app_dom_id(activity) %>" class="tl-Item">
    <div class="tl-Item_Primary">
      <% cache activity.user do -%>
        <%= show_user_avatar(activity.user, size: :sm) %>
        <span class="tl-Item_Actor">
          <%= t('.actor', name: activity.user_name) %>
        </span>
      <% end -%>
      <span class="tl-Item_Activity">
        <%= t(activity.activity, scope: 'activities.projects') %>
      </span>
      <span class="tl-Item_Link">
        <%= activity.present_target(self) %>
      </span>
      <span class="tl-Item_Time">
        <%=l activity.created_at, format: :time %>
      </span>
    </div>
    <%= activity.present_optional_information(self) %>
  </div>
<% end -%>
