<div class="row">
  <div class="col-sm-22 col-lg-16 mx-auto">
    <div class="tl-Page">
      <h3 class="tl-Page_Title">
        <%=t '.title' %>
      </h3>
      <div class="tl-Page_Body">
        <% if @timeline.any? -%>
          <%= render partial: 'daily', collection: @timeline, cached: true %>
          <div class="tl-Pager">
            <div class="row">
              <div class="col-lg-11">
                <%= link_to_prev_page @timeline.pages, t('.prev_page'), class: 'tl-Pager_Prev' %>
              </div>
              <div class="col-lg-11 tl-Pager_NextWrapper">
                <%= link_to_next_page @timeline.pages, t('.next_page'), class: 'tl-Pager_Next' %>
              </div>
            </div>
          </div>
        <% else -%>
          <div class="sw-Blank">
            <p class="sw-Blank_Message">
              <%=t ('.blank') %>
            </p>
          </div>
        <% end -%>
      </div>
    </div>
  </div>
</div>
