<div class="row">
  <div class="col-sm-22 col-lg-16 mx-auto">
    <div class="tl-Page">
      <h3 class="tl-Page_Title">
        <%=t '.title' %>
      </h3>
      <div class="tl-Page_Body">
        <% if @timeline.any? -%>
          <%= render partial: 'daily', collection: @timeline, cached: true %>
          <div class="tl-Pager">
            <%= link_to_prev_page @timeline.pages, 'Prev' %>
            <%= link_to_next_page @timeline.pages, 'Next' %>
          </div>
        <% else -%>
          <div class="sw-Blank">
            <p class="sw-Blank_Message">
              <%=t ('.blank') %>
            </p>
          </div>
        <% end -%>
      </div>
    </div>
  </div>
</div>
