<!DOCTYPE html>
<html>
  <head>
    <title>Kasugai</title>
    <%= web_font_link_tag %>
    <%= action_cable_meta_tag %>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <%= render 'shared/global_nav' %>
    <%= render 'shared/flash' %>
    <%= content_for :render_async %>
    <%= content_for?(:page) ? yield(:page) : yield %>
  </body>
</html>
